<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Happy Birthday
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="container">
    <ion-tabs>
        <ion-tab-bar slot="bottom" class="bottomTab">
            <ion-tab-button tab="#" class="bottomTab">
                <ion-icon name="ios-arrow-back" class="tabIcon"></ion-icon>
                <ion-label>Back</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="#" class="bottomTab">
                <ion-icon name="ios-radio-button-off" class="tabIcon"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="#" class="bottomTab">
                <ion-icon name="ios-square-outline" class="tabIcon"></ion-icon>
                <ion-label>menu</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
    <p class="topP">Happy Birthday Scott</p>
    <p class="bottomP">From Tom</p>
</ion-content>